{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %} Personal{% endblock %}</h1>
    {% if g.user['username']== username %}
        <a class="action" href="{{ url_for('blog.create') }}">New</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <header>
                <div>
                    <h1>{{ post['title'] }}</h1>
                    <div class="about">on {{ post['created'].strftime('%Y-%m-%d') }}</div>
                </div>
            </header>
            <nobr><span class="body">{{ post['body'][0:49] }}</span>
                <a class="active" href="{{ url_for('blog.article', id=post['id']) }}">
                    {% if post['body'][50] %}
                        ...
                    {% else %}
                        <div>查看全文</div>
                    {% endif %}
                </a>
            </nobr>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}
