{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}{{ post['title'] }}{% endblock %}</h1>
    {% if g.user['id']==post['author_id'] %}
        <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
    {% else %}
        <div>-by <a href="{{ url_for('space.personal', username=post['username']) }}">{{ post['username'] }}</a>
    {% endif %}
{% endblock %}

{% block content %}
    <article class="post">
        <p class="body" oncontextmenu="return false;" onselectstart="return false">{{ post['body'] }}</p>
    </article>
    <hr>
{% endblock %}